<nav>
    <div>
        <a href="/"><h1>Lift Logger</h1></a>
    </div>
    <ul>
        <li><a href="/users/67417f3852e2ef560979c51c">Users</a></li>
        <li><a href="/workouts/user/64e6f0df5b7e9a0014ab1234">Workouts</a></li>
        <li><a href="/history/674118f7d30b235f4328dc4a">History</a></li>
        <li><a href="/goals/674191687f86db1c401059a5">Goals</a></li>
    </ul>
</nav>