<nav>
    <div>
        <a href="/"><h1>Lift Logger</h1></a>
    </div>
    <ul>
        <li><a href="/users/userInfo">Users</a></li>
        <li><a href="/userWorkouts">Workouts</a></li>
        <li><a href="/userHistory">History</a></li>
        <li><a href="/userGoals">Goals</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>