<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- messages() %>
    <h1>Error: Process was not able to be completed</h1>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>