<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div id="goals">
        <h2>Goals</h2>
        <%- goalData %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>