<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="login-container">
        <h1>Login to Your Account</h1>
        <div class="google-auth">
            <a href="/auth/google" class="google-btn">
                <img src="/images/google.png" alt="Google logo" class="google-logo">
                Sign in with Google
            </a>
        </div>
    </div>
</body>
</html>